@import "utils/reset.scss";
@import "utils/fonts.scss";
@import "utils/flex.scss";
@import "utils/mixins.scss";
@import "utils/settings.scss";
@import "modules/header.scss";
@import "modules/button.scss";
@import "utils/helpers.scss";
html {
    line-height: $baseLineHeight;
    font-size: $base-fontSize;
    color: $base-fontColor;
    height: 100%;
    @media screen and (max-width: $desktopWidth) {
        font-size: 14px;
    }
    @media screen and (max-width: $tableWidth) {
        font-size: 13px;
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: 12px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $base-font-family;
    font-size: $base-fontSize;
    font-weight: $base-fontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a {
    text-decoration: none;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.wrapper {
    @include flex;
    @include flex-direction(column);
    @include flex-align(left, stretch);
    flex: 1 1 auto;
    @media screen and (max-width: $lgDesktopWidth) {
        font-size: rem(14);
    }
    @media screen and (max-width: $tableWidth) {
        font-size: rem(13);
    }
    @media screen and (max-width: $phoneWidth) {
        font-size: rem(12);
    }
}