
extends ../layout/main

block variables

    -var title = 'Webpack + Pug'
    -var discription = 'discription for Webpack + Pug'
    -var pageClass = 'index-page'

block content
        section
            .container
                h1 Jade - node template engine
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore recusandae sunt, harum suscipit dolorum nobis, beatae aperiam enim ea, iure labore nihil ipsa laboriosam porro esse reiciendis amet. Illum, beatae.
        section
            .container
                h1 Jade - node template engine
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore recusandae sunt, harum suscipit dolorum nobis, beatae aperiam enim ea, iure labore nihil ipsa laboriosam porro esse reiciendis amet. Illum, beatae.
        section
            .container
                h1 Jade - node template engine
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore recusandae sunt, harum suscipit dolorum nobis, beatae aperiam enim ea, iure labore nihil ipsa laboriosam porro esse reiciendis amet. Illum, beatae.
