<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webpack</title>
    <!-- <% for (var css in htmlWebpackPlugin.files.css) { %> -->
    <link href="<%= htmlWebpackPlugin.files.css[0] %>" rel="stylesheet">
    <!-- <% } %> -->

</head>

<body>
    <div class="wrapper">
        <div id="app" class="app">
            <header class="header">TEMPLATE</header>
            <main id="main" class="main">
                <h1>Webpack</h1>
                <h2>Webpack</h2>
            </main>
            <h3>Webpack</h3>
            <button @click="component = !component">Show vue component</button>
            <h4>WebpackWebpackWebpack</h4>
            <example-component v-if="component"></example-component>
            <img src="/assets/img/1html.jpg" alt="">
        </div>
    </div>
    <!-- <script src="/dist/app.js"></script> -->
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
        <% } %>
</body>

</html>